C:/Users/user/Desktop/house-of-opra/house-of-opra/dist filter=lfs diff=lfs merge=lfs -text
C:/Users/user/Desktop/house-of-opra/house-of-opra/src filter=lfs diff=lfs merge=lfs -text
C:/Users/user/Desktop/house-of-opra/house-of-opra/node_modules filter=lfs diff=lfs merge=lfs -text
